@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.App{
    min-height: 100vh;
    display: flex;
    background-image: url("https://papers.co/wallpaper/papers.co-vt07-abstract-art-color-basic-background-pattern-blue-orange-36-3840x2400-4k-wallpaper.jpg");
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}